.modal-header{
    color:#fff;
    background: #428bca;
    display: flex;
      justify-content: center;  		
    }
    .help-block {
              color: red;
    }
    .form-group.has-error .form-control-label {
      color: red;
    }
    .form-group.has-error .form-control {
      border: 1px solid red;
      box-shadow: 0 0 0 0.2rem rgba(250, 16, 0, 0.18);
    }
    .alertify .ajs-dialog {
        top: 50%;
        transform: translateY(-50%);
        margin: auto;
    }
    .ajs-header{
        background-color: #286090 !important;
        color: white !important;
        /*text-align: center;*/
        font-size: 18px;
        font-weight: bold;
    }
    .ajs-ok{
        color: #fff;
        background-color: #007bff;
        border-color: #007bff;
    }
    .ajs-cancel{
        color: #fff;
        background-color: #dc3545;
        border-color: #dc3545;
    }
       .form-control{
           font-size: 15px;
       }
       .form-select{
           font-size: 15px;
       }
       .img2 {
height: 280px;
margin-left: 50px;
}
.btn{
font-size: 15px;
}

.a {
float: left;
background: #E93737;
padding: 5px;
height: 48px;
width: 550px;
color: #20C9EB;
border-radius: 10px;
text-align: center;
font-size: 25px;
font-family: 'Fjalla One', sans-serif;
border:solid white;
}

.usu {
float: right;
height: 75px;
width: 650px;
padding: 10px;

}

.b {
background: #1E89D3;
float: left;
border-radius: 10px;
}



.strongnav {
font-size: 25px;
color: white;
font-family: 'Fjalla One', sans-serif;
}

   body{
background: #C33764;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #1D2671, #C33764);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #1D2671, #C33764); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */



   }
        #formDocente{
background: #0f0c29;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
label{
color: white;
}
label{
    color:white;
    font-size:20px;
}

form {
    background: #0f0c29; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.nini{
     background: #0f0c29; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
th{
    color:white;
}

.form-control{
    background: black;
    color: white;
    
}
.ggwel {

    background: #bdc3c7;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}
#div1 {
    overflow:scroll;
    height:500px;
   
}
#div1 table {
  
   background-color:lightgray;
}
   